body{
   background-color: lightgray;
   font-family: sans-serif;
   }
   .blog-post-card{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 50px auto;
    overflow: hidden;
   }
   .post-img{
    width: 100%;
    border-bottom: 2px solid #ddd;
   }
   .post-content{
    padding: 20px;
   }
   .post-title{
    color: #333;
    margin: 10px 0;
   }
   .post-excerpt{
    color: #666;
    margin: 10px 0;
   }
   .read-more{
    color: white;
    background-color: #007bff;
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
   }
   .read-more:hover{
    background-color: #0056b3;
   }